* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

body {
    background-color: black;
}

header {
    height: 169px;
}

.header-ul {
    display: flex;
    gap: 40px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-ul li a {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 1);
    text-decoration: none;
}

.first-section {
    height: 594px;
    background-image: url(./img/Rectangle\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 37px;
}

h1,
h2 {
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    text-align: center;
}

.h1-wrapper {
    width: 602px;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 16px 18px 28px 0px rgba(255, 255, 255, 0.25);
    margin: 0 auto;
}

.boxes-wrapper {
    margin-top: 160px;
}

.box-1 {
    width: 237px;
    height: 209px;
    background-color: rgba(50, 251, 0, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 34px;
}

.box-1-red {
    width: 237px;
    height: 209px;
    background-color: rgba(247, 1, 1, 1);
    position: absolute;
    left: 50%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: rgba(255, 6, 6, 1);
}

.box-1-red p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.box-1-2 {
    width: 237px;
    height: 209px;
    background-color: rgba(50, 251, 0, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 34px;
}

.box-1-red2 {
    width: 411px;
    height: 209px;
    background-color: rgba(247, 1, 1, 1);
    position: absolute;
    left: -35%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.box-1-2 p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: rgba(255, 6, 6, 1);
}

.box-1-red2 p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}



.box-1-3 {
    width: 237px;
    height: 209px;
    background-color: rgba(50, 251, 0, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 34px;
}

.box-1-red3 {
    width: 237px;
    height: 209px;
    background-color: rgba(247, 1, 1, 1);
    position: absolute;
    left: -35%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1-3 p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    color: rgba(255, 6, 6, 1);
}

.box-1-red3 p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.boxes-wrapper {
    display: flex;
    gap: 271px;
}

.box-shadow-green {
    box-shadow: 0px 22px 27.8px 0px rgba(255, 249, 249, 0.25);
}

.box-shadow-red {
    box-shadow: 0px 18px 26.5px 0px rgba(251, 0, 0, 0.25);
}

.relative-p-shadow {
    text-shadow: 0px 5px 7.4px rgba(255, 255, 255, 1);
}

.text-shadow-green {
    text-shadow: 0px 4px 7.4px rgba(255, 255, 255, 1);
}

.card {
    width: 368px;
    height: 332px;
    background-color: rgba(123, 37, 37, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-wrapper {
    display: flex;
    gap: 88px;
    margin-top: 125px;
}

h2 {
    margin-top: 79px;
}

.card h3 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 7.4px 0px #FFFFFF;
    margin-top: 52px;
}

.card p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;

    color: #FFFFFF;
    margin-top: 68px;
}

.card img {
    margin-top: 87px;
}

footer {
    height: 169px;
}

.footer-ul {
    display: flex;
    gap: 41px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-ul li a {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 1);
    text-decoration: none;
}